[defaults]
inventory           = inventory/hosts.yaml
roles_path          = roles
host_key_checking   = True
interpreter_python  = /usr/bin/python3
stdout_callback     = yaml
callbacks_enabled   = profile_tasks
retry_files_enabled = False
vault_identity_list = homelab@~/.ansible/homelab-vault-pass

[ssh_connection]
pipelining = True